---

### Zadanie 1: Analiza sentymentu z HuggingFace

**Instrukcja:** użyj modelu `sentiment-analysis`, by ocenić emocje w poniższych tekstach.

**Teksty testowe:**
1. "Ten film był absolutnie genialny! Oglądałem go trzy razy i nadal robi na mnie wrażenie."
2. "Nie podobał mi się ten produkt. Zawiodłem się."
3. "To było spotkanie. Tyle mogę powiedzieć."

Jaki jest problem z użyciem tej metody?


---

### Zadanie 2: Generowanie tekstu z HuggingFace

**Instrukcja:** użyj modelu `text-generation` (np. GPT-2), by wygenerować dalszy ciąg poniższych zdań.

**Zacznij od:**
1. "In a distant galaxy, a small spaceship"
2. "The future of artificial intelligence depends on"
3. "Yesterday I had the weirdest dream"

---

---

### Zadanie 3: Tłumaczenie PL → EN z Helsinki-NLP

**Cel:**
Użyj modelu `Helsinki-NLP/opus-mt-pl-en` do tłumaczenia tekstu z polskiego na angielski.

**Instrukcja:**

1. Skonfiguruj pipeline `translation` z modelem `Helsinki-NLP/opus-mt-pl-en`.
2. Przetłumacz poniższy tekst:

**Tekst do tłumaczenia:**
```
"To było spotkanie i tyle mogę powiedzieć!"
```

3. Wyświetl wynik tłumaczenia.

---

### Zadanie 4: Klasyfikacja ofert nieruchomości przy użyciu Hugging Face Transformers

Celem zadania jest zbudowanie pipeline'u NLP, który:

1. Wczytuje rzeczywiste dane ogłoszeń nieruchomości (adresowo.pl).
2. Tłumaczy je na język angielski z uyciem modelu. 
3. Wykonuje **zero-shot klasyfikację** typu oferty z użyciem modelu **`facebook/bart-large-mnli`**.
4. Tworzy nową tabelę z wynikami klasyfikacji i porównaniem z oryginalnymi kategoriami.

---

#### Krok po kroku:

1. **Wczytaj dane** z pliku CSV zdalnie (GitHub link).
2. **Tłumaczy opisy z PL → EN** modelem.
3. **Uzupełnij brakujące opisy**, np. wpisując `"brak opisu"` tam, gdzie są puste pola.
4. Użyj **zero-shot classifiera (`facebook/bart-large-mnli`)**, aby przypisać najbardziej prawdopodobną kategorię do oferty.

   * Kategorie są w języku **polskim**, np. `"sprzedaż mieszkania"`, `"wynajem domu"`, itp.
5. Zbierz dane do DataFrame: adres URL oferty, kategoria z CSV, przypisana etykieta modelu i jej pewność (`score`), oraz skrócony oryginalny opis.

---

#### Kategorie docelowe:

```python
candidate_labels = [
    "apartment for sale",
    "apartment for rent",
    "house for sale",
    "house for rent",
    "building plot",
    "commercial property",
    "developer investment",
]
```

---

,category,offer_url,price,currency,num_images,street_address,description
0,mieszkania_sprzedaz,https://adresowo.pl/o/mieszkanie-warszawa-wola...,NaN,NaN,4,"ul. Księcia Janusza, Warszawa Wola, mazowieckie",Posiadam na sprzedaż przestronne mieszkanie na...
1,mieszkania_sprzedaz,https://adresowo.pl/o/mieszkanie-warszawa-targ...,NaN,NaN,14,"ul. Toruńska, Warszawa Targówek, mazowieckie","Na sprzedaż duże, jasne mieszkanie o powierzch..."
2,mieszkania_sprzedaz,https://adresowo.pl/o/mieszkanie-warszawa-bemo...,NaN,NaN,20,"ul. Aleksandra Świętochowskiego, Warszawa Bemo...",Szukasz klimatycznego mieszkania w otoczeniu z...
3,mieszkania_sprzedaz,https://adresowo.pl/o/mieszkanie-warszawa-ocho...,NaN,NaN,6,"ul. Bitwy Warszawskiej 1920 r., Warszawa Ochot...",Mieszkanie po generalnym remoncie. Do zamieszk...
4,mieszkania_sprzedaz,https://adresowo.pl/o/mieszkanie-warszawa-ursu...,NaN,NaN,14,"ul. Tadeusza Hennela, Warszawa Ursus, mazowieckie",Zaoszczędź 16 000 zł i kup mieszkanie bez pośr...